a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block
}

blockquote, q {
  quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none
}

table {
  border-collapse: collapse;
  border-width: 0;
  padding: 0;
  margin: 0
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none
}

input[type=button], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none
}

button, input[type=search] {
  -webkit-appearance: none
}

button {
  cursor: pointer;
  outline: none
}

form, td {
  margin: 0;
  padding: 0
}

a, i {
  color: #000100;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: inline-block
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

ul {
  list-style: none
}

li {
  cursor: pointer
}

span {
  display: inline-block
}

img {
  max-width: 100%
}

body {
  font-family: Roboto, sans-serif
}

#app {
  overflow: hidden
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

@font-face {
  font-family: Roboto;
  src: url(../../static/fonts/subset-Roboto-Bold.eot);
  src: url(../../static/fonts/subset-Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../static/fonts/subset-Roboto-Bold.woff2) format("woff2"), url(../../static/fonts/subset-Roboto-Bold.woff) format("woff"), url(../../static/fonts/subset-Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: Roboto;
  src: url(../../static/fonts/subset-Roboto-Light.eot);
  src: url(../../static/fonts/subset-Roboto-Light.eot?#iefix) format("embedded-opentype"), url(../../static/fonts/subset-Roboto-Light.woff2) format("woff2"), url(../../static/fonts/subset-Roboto-Light.woff) format("woff"), url(../../static/fonts/subset-Roboto-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: Roboto;
  src: url(../../static/fonts/subset-Roboto-Black.eot);
  src: url(../../static/fonts/subset-Roboto-Black.eot?#iefix) format("embedded-opentype"), url(../../static/fonts/subset-Roboto-Black.woff2) format("woff2"), url(../../static/fonts/subset-Roboto-Black.woff) format("woff"), url(../../static/fonts/subset-Roboto-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: Roboto;
  src: url(../../static/fonts/subset-Roboto-Medium.eot);
  src: url(../../static/fonts/subset-Roboto-Medium.eot?#iefix) format("embedded-opentype"), url(../../static/fonts/subset-Roboto-Medium.woff2) format("woff2"), url(../../static/fonts/subset-Roboto-Medium.woff) format("woff"), url(../../static/fonts/subset-Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: Roboto;
  src: url(../../static/fonts/subset-Roboto-Thin.eot);
  src: url(../../static/fonts/subset-Roboto-Thin.eot?#iefix) format("embedded-opentype"), url(../../static/fonts/subset-Roboto-Thin.woff2) format("woff2"), url(../../static/fonts/subset-Roboto-Thin.woff) format("woff"), url(../../static/fonts/subset-Roboto-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal
}

@font-face {
  font-family: Roboto;
  src: url(../../static/fonts/subset-Roboto-Regular.eot);
  src: url(../../static/fonts/subset-Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../static/fonts/subset-Roboto-Regular.woff2) format("woff2"), url(../../static/fonts/subset-Roboto-Regular.woff) format("woff"), url(../../static/fonts/subset-Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}

.btn {
  font-family: Roboto, sans-serif;
  padding: 10px 24px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  -webkit-transition: .3s ease;
  transition: .3s ease
}

.btn:active {
  -webkit-transform: scale(.98);
  transform: scale(.98)
}

.btn-primary {
  background: #df7f35
}

.btn-primary:focus, .btn-primary:hover {
  background: #c15931;
  -webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, .3);
  box-shadow: 1px 2px 8px rgba(0, 0, 0, .3)
}

.btn-primary:active {
  -webkit-box-shadow: none;
  box-shadow: none
}

.btn-transparent {
  background: transparent;
  border: 1px solid #fff
}

.btn-transparent:focus, .btn-transparent:hover {
  background: #fff;
  color: #000
}

@media only screen and (min-width: 1200px) {
  .container {
    padding: 0 20px
  }
}

header {
  padding-top: 86px;
  position: relative;
  overflow: hidden;
  background: url(../../static/img/bg.d79f7d8.png) no-repeat 50%/cover
}

header:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: #000
}

@media only screen and (min-width: 1200px) {
  header {
    overflow: visible
  }
}

.header-nav[data-v-ab2ae74e] {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background: rgba(57, 57, 57, .5);
  padding: 5px 0;
  -webkit-transition: background .3s ease;
  transition: background .3s ease
}

.header-logo[data-v-ab2ae74e] {
  position: relative;
  z-index: 9999;
  height: 40px;
  width: 62px;
  background: url(../../static/img/icons_sprite.png) no-repeat -239px -203px
}

.header-phone[data-v-ab2ae74e] {
  color: #fff;
  letter-spacing: .5px
}

.flex[data-v-ab2ae74e] {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.burger[data-v-ab2ae74e] {
  z-index: 9999;
  padding: 10px;
  cursor: pointer;
  -webkit-transition-duration: .15s;
  transition-duration: .15s
}

.burger-box[data-v-ab2ae74e], .burger[data-v-ab2ae74e] {
  position: relative;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0)
}

.burger-box[data-v-ab2ae74e] {
  width: 30px;
  height: 21px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex
}

.burger-inner[data-v-ab2ae74e] {
  top: 50%;
  margin-top: -1.5px;
  -webkit-transition-duration: .44s;
  transition-duration: .44s;
  -webkit-transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  transition-timing-function: cubic-bezier(.55, .055, .675, .19)
}

.burger-inner[data-v-ab2ae74e]:after, .burger-inner[data-v-ab2ae74e]:before {
  content: "";
  display: block
}

.burger-inner[data-v-ab2ae74e]:before {
  top: -9px;
  -webkit-transition: top .2s ease-in .5s, opacity .2s ease-in;
  transition: top .2s ease-in .5s, opacity .2s ease-in
}

.burger-inner[data-v-ab2ae74e]:after {
  bottom: -9px;
  -webkit-transition: bottom .2s ease-in .5s, -webkit-transform .44s cubic-bezier(.55, .055, .675, .19);
  transition: bottom .2s ease-in .5s, -webkit-transform .44s cubic-bezier(.55, .055, .675, .19);
  transition: bottom .2s ease-in .5s, transform .44s cubic-bezier(.55, .055, .675, .19);
  transition: bottom .2s ease-in .5s, transform .44s cubic-bezier(.55, .055, .675, .19), -webkit-transform .44s cubic-bezier(.55, .055, .675, .19)
}

.burger-inner[data-v-ab2ae74e], .burger-inner[data-v-ab2ae74e]:after, .burger-inner[data-v-ab2ae74e]:before {
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 0;
  position: absolute
}

.is-active .burger-inner[data-v-ab2ae74e] {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-transition-delay: .24s;
  transition-delay: .24s;
  -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  transition-timing-function: cubic-bezier(.215, .61, .355, 1)
}

.is-active .burger-inner[data-v-ab2ae74e]:before {
  top: 0;
  opacity: 0;
  -webkit-transition: top .2s ease-out, opacity .2s ease-out .24s;
  transition: top .2s ease-out, opacity .2s ease-out .24s
}

.is-active .burger-inner[data-v-ab2ae74e]:after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: bottom .2s ease-out, -webkit-transform .44s cubic-bezier(.215, .61, .355, 1) .24s;
  transition: bottom .2s ease-out, -webkit-transform .44s cubic-bezier(.215, .61, .355, 1) .24s;
  transition: bottom .2s ease-out, transform .44s cubic-bezier(.215, .61, .355, 1) .24s;
  transition: bottom .2s ease-out, transform .44s cubic-bezier(.215, .61, .355, 1) .24s, -webkit-transform .44s cubic-bezier(.215, .61, .355, 1) .24s
}

.nav[data-v-ab2ae74e] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: calc(100% - 70px);
  z-index: 999;
  display: block
}

.nav-menu[data-v-ab2ae74e] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 20px 0;
  background: #393939;
  -webkit-box-shadow: 2px 3px 7px rgba(0, 0, 0, .2);
  box-shadow: 2px 3px 7px rgba(0, 0, 0, .2)
}

.nav-menu-item[data-v-ab2ae74e] {
  margin-bottom: 10px
}

.nav-menu-link[data-v-ab2ae74e] {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  position: relative;
  padding: 10px 0;
  color: #fff;
  font-size: 30px
}

.nav-menu-link[data-v-ab2ae74e]:after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 0;
  height: 2px;
  background: hsla(0, 0%, 100%, .8);
  -webkit-transition: .3s ease .15s;
  transition: .3s ease .15s
}

.nav-menu-link[data-v-ab2ae74e]:hover:after {
  width: 100%
}

.view-enter-active[data-v-ab2ae74e] {
  -webkit-transition: opacity .5s ease-in-out, -webkit-transform .5s ease;
  transition: opacity .5s ease-in-out, -webkit-transform .5s ease;
  transition: opacity .5s ease-in-out, transform .5s ease;
  transition: opacity .5s ease-in-out, transform .5s ease, -webkit-transform .5s ease
}

.view-leave-active[data-v-ab2ae74e] {
  -webkit-transition: opacity 1s ease-in-out, -webkit-transform 1s ease;
  transition: opacity 1s ease-in-out, -webkit-transform 1s ease;
  transition: opacity 1s ease-in-out, transform 1s ease;
  transition: opacity 1s ease-in-out, transform 1s ease, -webkit-transform 1s ease
}

.view-enter[data-v-ab2ae74e], .view-leave-to[data-v-ab2ae74e] {
  opacity: .5;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%)
}

.view-enter-to[data-v-ab2ae74e], .view-leave[data-v-ab2ae74e] {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}

@media only screen and (min-width: 560px) and (max-width: 1200px) {
  .nav[data-v-ab2ae74e] {
    width: 100%;
    top: 51px
  }

  .nav-menu[data-v-ab2ae74e] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    padding-bottom: 40px
  }

  .nav-menu-item[data-v-ab2ae74e] {
    width: auto;
    padding: 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0
  }
}

@media only screen and (min-width: 1200px) {
  .container[data-v-ab2ae74e] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }

  .burger[data-v-ab2ae74e] {
    display: none
  }

  .header-nav[data-v-ab2ae74e] {
    background: rgba(57, 57, 57, .5);
    padding: 0;
    margin-bottom: 38px
  }

  .header-logo[data-v-ab2ae74e] {
    margin-right: 18px
  }

  .nav[data-v-ab2ae74e] {
    width: auto;
    display: block !important;
    position: relative
  }

  .nav-menu[data-v-ab2ae74e] {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none
  }

  .nav-menu-item[data-v-ab2ae74e] {
    margin-bottom: 0
  }

  .nav-menu-link[data-v-ab2ae74e] {
    display: block;
    padding: 15px 28px;
    color: #fff;
    font-size: 15px;
    font-weight: 500
  }

  .nav-menu-link[data-v-ab2ae74e]:after {
    content: none
  }

  .nav-menu-link[data-v-ab2ae74e]:hover {
    background: #000
  }
}

.bread-crumbs[data-v-7e9afe2f] {
  display: none
}

@media only screen and (min-width: 1200px) {
  .bread-crumbs[data-v-7e9afe2f] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 289px
  }

  .bread-crumbs-link[data-v-7e9afe2f] {
    position: relative;
    font-size: 15px;
    color: #7e7e7e;
    margin-right: 10px
  }

  .bread-crumbs-link[data-v-7e9afe2f]:not(:last-child):after {
    content: "|";
    position: absolute;
    right: -8px;
    top: 0
  }

  .bread-crumbs-link.active[data-v-7e9afe2f] {
    color: #fff
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 28px
}

.content-title {
  font-family: Roboto, sans-serif;
  font-size: 34px;
  text-align: center;
  font-weight: 300;
  color: #fff;
  margin-bottom: 40px
}

.content-title span {
  letter-spacing: -.3px
}

.seo-rating {
  position: absolute;
  margin: 0 auto;
  top: 51px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  max-width: 410px;
  width: 100%;
  padding: 18px 40px 16px;
  background: #df7f35;
  text-transform: uppercase
}

.seo-rating h2 {
  font-family: Roboto;
  font-size: 51px;
  line-height: 1;
  font-weight: 700
}

.seo-rating span {
  font-size: 15px;
  line-height: 1
}

@media only screen and (min-width: 1200px) {
  .content {
    padding-top: 125px;
    padding-bottom: 118px
  }

  .content-title {
    font-family: Roboto, sans-serif;
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 49px;
    letter-spacing: .9px
  }

  .seo-rating {
    top: auto;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 44%);
    transform: translate(-50%, 44%)
  }
}

.form-caption {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 16px;
  letter-spacing: -.1px
}

.form-caption span {
  font-weight: 400;
  color: orange;
  text-transform: uppercase
}

.form .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.form-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid hsla(0, 0%, 100%, .2);
  background-position: 20px 10px;
  cursor: pointer;
  min-height: 42px
}

.form-row:before {
  content: "";
  position: absolute;
  z-index: 8;
  display: block;
  width: 40px;
  height: 100%;
  overflow: hidden
}

.form-row input {
  cursor: pointer;
  position: relative;
  z-index: 9;
  width: 100%;
  height: 42px;
  background: none;
  border: none;
  color: #000;
  font-size: 14px;
  padding-left: 40px;
  padding-right: 10px;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  transition: .3s ease
}

.form-row input::-webkit-input-placeholder {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #b6b6b6;
  font-size: 12px
}

.form-row input::-moz-placeholder {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #b6b6b6;
  font-size: 12px
}

.form-row input::-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #b6b6b6;
  font-size: 12px
}

.form-row input::placeholder {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #b6b6b6;
  font-size: 12px
}

.form-row input:focus, .form-row input:valid {
  cursor: text;
  background: #fff;
  z-index: 0
}

.form [role=username]:before {
  background: url(../../static/img/icons_sprite.png) no-repeat -43px 0
}

.form [role=usernumber]:before {
  background: url(../../static/img/icons_sprite.png) no-repeat 0 2px
}

.form [role=usermail]:before {
  background: url(../../static/img/icons_sprite.png) no-repeat -70px 0
}

@media only screen and (min-width: 1200px) {
  .form-caption {
    font-size: 20px;
    font-weight: 400
  }

  .form-caption span {
    color: #fff
  }

  .form .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
  }

  .form-row {
    margin-right: 10px;
    margin-bottom: 0
  }

  .form-row:before {
    content: "";
    position: absolute;
    z-index: 8;
    display: block;
    width: 40px;
    height: 100%;
    overflow: hidden
  }
}

section[data-v-43144afc] {
  padding-top: 40px
}

.section-caption[data-v-43144afc] {
  padding: 0 20px;
  text-align: justify;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 40px
}

.articles[data-v-43144afc] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 46px;
  background: url(../../static/img/bg_section1.jpg)
}

.articles-item[data-v-43144afc] {
  width: 100%;
  height: 248px;
  padding: 13px;
  background-size: cover !important
}

.articles-item[data-v-43144afc]:not(:last-child) {
  margin-bottom: 70px
}

.articles-item-link[data-v-43144afc] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  border: 1px solid hsla(0, 0%, 100%, .5);
  color: #fff;
  height: 100%;
  font-size: 20px
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .articles[data-v-43144afc] {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 0
  }

  .articles-item[data-v-43144afc] {
    width: 49%
  }

  .articles-item[data-v-43144afc]:not(:last-child) {
    margin-bottom: 10px
  }
}

@media only screen and (min-width: 1024px) {
  .articles[data-v-43144afc] {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    background: none
  }

  .articles-item[data-v-43144afc]:not(:last-child) {
    margin-bottom: 0
  }
}

@media only screen and (min-width: 1200px) {
  .container[data-v-43144afc] {
    max-width: 1180px
  }

  section[data-v-43144afc] {
    padding-top: 99px
  }

  .section-caption[data-v-43144afc] {
    max-width: 1140px;
    font-size: 18px;
    margin: 0 auto 57px;
    text-align: center
  }

  .articles[data-v-43144afc] {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    background: none;
    padding: 0
  }

  .articles-item[data-v-43144afc] {
    margin-bottom: 0
  }

  .articles-item-link[data-v-43144afc] {
    display: block;
    padding: 124px 40px 20px
  }
}

h3[data-v-67d8bc17] {
  color: #413e3e;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 40px
}

ul[data-v-67d8bc17] {
  margin-bottom: 20px
}

li[data-v-67d8bc17] {
  cursor: default;
  position: relative;
  padding-left: 32px;
  padding-bottom: 20px
}

li[data-v-67d8bc17]:not(:last-child) {
  border-bottom: 1px solid rgba(51, 51, 51, .2);
  margin-bottom: 25px
}

li:nth-child(odd) h4[data-v-67d8bc17] {
  color: #df7f35
}

li:nth-child(2n) h4[data-v-67d8bc17] {
  color: #008ed7
}

li h4[data-v-67d8bc17] {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px
}

li p[data-v-67d8bc17] {
  font-size: 14px;
  font-weight: 400
}

li[data-v-67d8bc17]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%
}

li[data-v-67d8bc17]:nth-child(odd):before {
  background: #df7f35
}

li[data-v-67d8bc17]:nth-child(2n):before {
  background: #008ed7
}

@media only screen and (min-width: 1200px) {
  h3[data-v-67d8bc17] {
    font-size: 30px;
    margin-bottom: 23px;
    font-weight: 700
  }

  ul[data-v-67d8bc17] {
    margin-bottom: 51px
  }

  li[data-v-67d8bc17] {
    cursor: default;
    position: relative;
    padding-left: 32px;
    padding-bottom: 0
  }

  li[data-v-67d8bc17]:not(:last-child) {
    border: none;
    margin-bottom: 15px
  }

  li h4[data-v-67d8bc17] {
    margin-bottom: 0;
    font-weight: 700;
    color: #000 !important
  }

  li p[data-v-67d8bc17] {
    font-size: 14px;
    font-weight: 400
  }

  li[data-v-67d8bc17]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%
  }

  li[data-v-67d8bc17]:nth-child(odd):before {
    background: #df7f35
  }

  li[data-v-67d8bc17]:nth-child(2n):before {
    background: #008ed7
  }
}

.container[data-v-de761eb4] {
  min-width: 1180px
}

.section-footer[data-v-de761eb4] {
  padding: 30px 40px 37px;
  background: url(../../static/img/bg_contact.png) no-repeat 50%, #008ed7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center
}

.section-footer h3[data-v-de761eb4] {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 21px
}

.section-footer .btn[data-v-de761eb4] {
  margin-bottom: 27px
}

.section-footer p[data-v-de761eb4] {
  font-size: 18px
}

section[data-v-2e2473ec] {
  padding: 54px 0 52px;
  background: rgba(0, 0, 0, .7)
}

h2[data-v-2e2473ec] {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  text-shadow: 2px 8px 6px hsla(0, 0%, 100%, .2), 0 -5px 35px rgba(0, 0, 0, .3)
}

.our-works[data-v-2e2473ec] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 42px
}

.our-works-title[data-v-2e2473ec] {
  margin-bottom: 28px
}

.our-works-item[data-v-2e2473ec] {
  overflow: hidden;
  position: relative;
  width: 284px;
  height: 201px;
  z-index: 99;
  padding: 36px 32px 20px 36px;
  color: #fff;
  -webkit-transition: .3s ease;
  transition: .3s ease
}

.our-works-item[data-v-2e2473ec]:hover {
  color: #000;
  z-index: 9999;
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}

.our-works-item[data-v-2e2473ec]:hover:before {
  background: orange;
  -webkit-transform: scale(.9);
  transform: scale(.9)
}

.our-works-item[data-v-2e2473ec]:nth-child(2n):hover {
  -webkit-box-shadow: 0 0 20px 8px #00cbdf;
  box-shadow: 0 0 20px 8px #00cbdf
}

.our-works-item[data-v-2e2473ec]:nth-child(odd):hover {
  -webkit-box-shadow: 0 0 20px 8px orange;
  box-shadow: 0 0 20px 8px orange
}

.our-works-item[data-v-2e2473ec]:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .65);
  -webkit-transition: background-color .3s ease, -webkit-transform .1s;
  transition: background-color .3s ease, -webkit-transform .1s;
  transition: background-color .3s ease, transform .1s;
  transition: background-color .3s ease, transform .1s, -webkit-transform .1s
}

.our-works-item h3[data-v-2e2473ec] {
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 2px
}

.our-works-item p[data-v-2e2473ec] {
  font-size: 15px;
  font-weight: 300
}

.our-works-item a[data-v-2e2473ec] {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999
}

.our-partners[data-v-2e2473ec] {
  color: #413e3e;
  margin-bottom: 40px
}

.carousel-title[data-v-2e2473ec] {
  margin-bottom: 46px
}

@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .our-works[data-v-2e2473ec] {
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-box-shadow: inset 200px -20px 246px 10px rgba(0, 0, 0, .7), inset -375px -20px 200px 40px hsla(0, 0%, 100%, .7);
    box-shadow: inset 200px -20px 246px 10px rgba(0, 0, 0, .7), inset -375px -20px 200px 40px hsla(0, 0%, 100%, .7)
  }

  .our-works-item[data-v-2e2473ec] {
    margin-right: 10px;
    margin-bottom: 10px
  }

  .our-works-item[data-v-2e2473ec]:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15)
  }
}

@media only screen and (min-width: 1200px) {
  section[data-v-2e2473ec] {
    background: #fff
  }

  .container[data-v-2e2473ec] {
    max-width: 1180px
  }

  h2[data-v-2e2473ec] {
    text-shadow: none
  }

  .our-works[data-v-2e2473ec] {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 42px
  }

  .our-works-title[data-v-2e2473ec] {
    color: #161616
  }

  .our-works-item[data-v-2e2473ec]:hover {
    top: 0;
    -webkit-transform: scale(1.1) translateY(-10%);
    transform: scale(1.1) translateY(-10%)
  }

  .our-works-item[data-v-2e2473ec]:nth-child(1n):hover {
    -webkit-box-shadow: inset 0 0 20px 8px #00cbdf;
    box-shadow: inset 0 0 20px 8px #00cbdf
  }

  .carousel-title[data-v-2e2473ec] {
    color: #413e3e
  }
}

.carousel[data-v-84e9b134] {
  padding: 20px;
  position: relative;
  background: hsla(0, 0%, 100%, .6);
  border-radius: 4px
}

.carousel-track[data-v-84e9b134] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  overflow: hidden;
  margin: 0 auto
}

.carousel-track div[data-v-84e9b134] {
  position: relative;
  z-index: 999;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 130px;
  flex: 1 0 130px;
  height: 65px;
  background-position: 0 -60px !important
}

.carousel-track div[data-v-84e9b134]:not(:last-child) {
  margin-right: 15px
}

.carousel-track div[data-v-84e9b134]:hover {
  background-position: -138px -60px !important
}

.carousel-track div a[data-v-84e9b134] {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}

.carousel-control[data-v-84e9b134] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.carousel-control .next[data-v-84e9b134], .carousel-control .prev[data-v-84e9b134] {
  position: absolute;
  top: 30%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: url(../../static/img/icons_sprite.png) no-repeat -288px 0
}

.carousel-control .next[data-v-84e9b134]:hover, .carousel-control .prev[data-v-84e9b134]:hover {
  background-position: -330px 0
}

.carousel-control .prev[data-v-84e9b134] {
  left: -4%;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}

.carousel-control .prev[data-v-84e9b134]:hover {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg)
}

.carousel-control .next[data-v-84e9b134] {
  right: -4%
}

.carousel-control .next[data-v-84e9b134]:hover {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}

@media only screen and (min-width: 480px) {
  .carousel-track[data-v-84e9b134] {
    width: 100%
  }
}

@media only screen and (min-width: 640px) {
  .carousel-control .next[data-v-84e9b134] {
    right: -3%
  }

  .carousel-control .prev[data-v-84e9b134] {
    left: -3%
  }
}

@media only screen and (min-width: 1200px) {
  .carousel[data-v-84e9b134] {
    padding: 0
  }

  .carousel-track[data-v-84e9b134] {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1000px
  }

  .carousel-control .next[data-v-84e9b134], .carousel-control .prev[data-v-84e9b134] {
    top: 8px
  }

  .carousel-control .prev[data-v-84e9b134] {
    left: -14px
  }

  .carousel-control .next[data-v-84e9b134] {
    right: -13px
  }
}

footer[data-v-29f06444] {
  background: #393939;
  padding: 42px 0 20px
}

.flex[data-v-29f06444] {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.col-location[data-v-29f06444], .flex[data-v-29f06444], .form .flex[data-v-29f06444] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.col-location[data-v-29f06444] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2
}

.col-location-logo[data-v-29f06444] {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 232px;
  height: 130px;
  background: url(../../static/img/icons_sprite.png) no-repeat -4px -151px
}

.col-location-address[data-v-29f06444] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 30px;
  color: #aaa9a9;
  font-size: 16px;
  font-weight: 300
}

.col-location-address[data-v-29f06444]:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 12px;
  background: url(../../static/img/icons_sprite.png) no-repeat -374px -4px
}

.col-location-map[data-v-29f06444] {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 40px;
  opacity: .5;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease
}

.col-location-map[data-v-29f06444]:hover {
  opacity: 1
}

.col-location-map a[data-v-29f06444] {
  width: 97px;
  height: 97px;
  background: url(../../static/img/icons_sprite.295653f.png) no-repeat -308px -55px
}

.col-location-map span[data-v-29f06444] {
  position: relative;
  letter-spacing: -.6px;
  line-height: 1.1
}

.col-location-map span[data-v-29f06444]:before {
  content: "";
  width: 23px;
  height: 50px;
  background: url(../../static/img/icons_sprite.png) no-repeat -328px -204px;
  position: absolute;
  top: -8px;
  left: -28px;
  color: #aaa9a9;
  font-size: 48px;
  font-weight: 400
}

.form-container[data-v-29f06444] {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  margin-bottom: 40px
}

.form-caption[data-v-29f06444] {
  font-weight: 100
}

.form-caption span[data-v-29f06444] {
  font-weight: 400
}

.form-row[data-v-29f06444] {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  margin-right: 0
}

.form-row[data-v-29f06444]:after {
  content: "*";
  cursor: default;
  position: absolute;
  color: #fff;
  top: 2px;
  right: 4px;
  font-size: 18px;
  opacity: .5
}

.input-group[data-v-29f06444] {
  width: 100%;
  margin-bottom: 15px
}

textarea[data-v-29f06444] {
  border: none;
  width: 100%;
  padding: 10px;
  height: 100px;
  background: none;
  resize: none;
  font-family: Roboto
}

textarea[data-v-29f06444]::-webkit-input-placeholder {
  color: #b6b6b6;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px
}

textarea[data-v-29f06444]::-moz-placeholder {
  color: #b6b6b6;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px
}

textarea[data-v-29f06444]::-ms-input-placeholder {
  color: #b6b6b6;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px
}

textarea[data-v-29f06444]::placeholder {
  color: #b6b6b6;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px
}

textarea[data-v-29f06444]:focus, textarea[data-v-29f06444]:valid {
  background: #fff
}

.btn[data-v-29f06444] {
  width: 100%
}

.col-social[data-v-29f06444] {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-bottom: 40px
}

.col-social-view[data-v-29f06444] {
  margin-bottom: 15px
}

.col-social-icons[data-v-29f06444] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.col-social-icons li[data-v-29f06444] {
  position: relative;
  width: 30px;
  height: 30px;
  opacity: .5;
  -webkit-transition: .3s ease;
  transition: .3s ease
}

.col-social-icons li[data-v-29f06444]:hover {
  opacity: 1
}

.col-social-icons li[data-v-29f06444]:not(:last-child) {
  margin-right: 12px
}

.col-social-icons li a[data-v-29f06444] {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .col-location[data-v-29f06444] {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }

  .col-location-address[data-v-29f06444] {
    width: 35%;
    text-align: right
  }

  .col-location-map[data-v-29f06444] {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 45%;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1
  }
}

@media only screen and (min-width: 1200px) {
  footer[data-v-29f06444] {
    padding-bottom: 75px
  }

  .container[data-v-29f06444] {
    max-width: 1178px
  }

  .flex[data-v-29f06444] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: initial;
    -ms-flex-align: initial;
    align-items: normal;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }

  .form-container[data-v-29f06444] {
    margin-left: -45px;
    margin-top: -5px;
    max-width: 469px;
    width: 100%
  }

  .col-location[data-v-29f06444] {
    display: block;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0
  }

  .col-location-logo[data-v-29f06444] {
    margin-bottom: 19px
  }

  .col-location-map[data-v-29f06444] {
    margin-bottom: 0
  }

  .form-container[data-v-29f06444] {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 0
  }

  .input-group[data-v-29f06444] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }

  .input-group .form-row[data-v-29f06444] {
    margin-bottom: 0
  }

  .input-group .form-row[data-v-29f06444]:first-child {
    width: 51%
  }

  .input-group .form-row[data-v-29f06444]:last-child {
    width: 46%
  }

  .btn[data-v-29f06444] {
    width: auto;
    -ms-flex-item-align: end;
    align-self: flex-end
  }

  .col-social[data-v-29f06444] {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-bottom: 0
  }
}

.scroll-to-top {
  position: fixed;
  z-index: 9999;
  right: 15px;
  bottom: 15px;
  display: block;
  width: 60px;
  height: 60px;
  background: #404040;
  border-radius: 50%;
  opacity: .7;
  -webkit-box-shadow: inset 0 5px 13px 5px rgba(0, 0, 0, .4), 0 0 8px 1px rgba(0, 0, 0, .4);
  box-shadow: inset 0 5px 13px 5px rgba(0, 0, 0, .4), 0 0 8px 1px rgba(0, 0, 0, .4)
}

.scroll-to-top:after {
  content: "";
  position: absolute;
  top: calc(50% + 3px);
  left: 50%;
  display: block;
  width: 16px;
  height: 16px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  border: solid #fff;
  border-width: 2px 0 0 2px
}

.scroll-to-top.color {
  background: orange
}

@media only screen and (min-width: 321px) {
  .scroll-to-top {
    right: 30px;
    bottom: 30px
  }
}

@media only screen and (min-width: 768px) {
  .scroll-to-top {
    right: 80px;
    bottom: 80px
  }
}

@media only screen and (min-width: 1200px) {
  .scroll-to-top {
    right: 100px;
    bottom: 100px
  }

  .scroll-to-top:hover {
    opacity: 1
  }
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out
}

.fade-enter, .fade-leave-to {
  opacity: 0
}

/*# sourceMappingURL=app.4e8e24542239190951bf9897cad5a2f2.css.map */
