.wrapper {
	background: #000
}

.container {
	position: relative;
	max-width: 780px;
	margin: 0 auto;
	height: 100vh
}

.screen-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 16px;
	padding: 5px;
	background: none;
	border: none;
	border-radius: 8px;
	min-height: 48px;
	color: #fff;
	width: 100%;
	margin-bottom: 10px
}

.screen-btn:last-child {
	margin-bottom: 0
}

.screen-btn--primary {
	background: #13a38b
}

.screen-btn--darken {
	background: #246376
}

.screen-btn--tea {
	background: #5d6370
}

.screen-btn--coffee {
	background: #634c44
}

.screen-btn--massage {
	background: #fcd200
}

.screen-btn--yellow {
	background: #fcd200;
	color: #333
}

.screen-btn--no {
	background: #f5f5f5;
	color: #424242
}

.btn-group {
	margin: 20px 0
}

.btn-sex {
	width: 100%;
	text-transform: uppercase;
	font-style: italic;
	font-weight: 800;
	font-size: 16px
}

.btn-sex--female {
	background: #ff4c4c
}

.btn-sex--male {
	background: #246376
}

.msg-box {
	position: relative;
	width: 45%;
	border-radius: 7px;
	padding: 10px 5px 10px 15px;
	line-height: 1.5;
	-webkit-transition: .3s;
	transition: .3s
}

.msg-box:after {
	content: "";
	position: absolute;
	top: 0;
	width: 54px;
	border: 13px solid transparent
}

.msg-box.msg-question:after {
	border-top-color: #f0f0f0;
	left: -13px
}

.msg-box.msg-answer:after {
	right: -13px;
	border-top-color: #cfe2fa
}

.msg-question {
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	opacity: 0;
	background: #f0f0f0;
	margin-top: 15px
}

.msg-inner {
	padding: 7px 20px 7px 0
}

.msg-inner p {
	margin-bottom: 20px
}

.msg-inner p:last-child {
	margin-bottom: 0
}

.container-scrollable {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: stretch;
	-ms-flex-pack: stretch;
	justify-content: stretch;
	overflow-x: hidden;
	overflow-y: scroll;
	height: calc(100vh - 62px)
}

.container-scrollable::-webkit-scrollbar {
	background: #f0f0f0;
	width: 15px;
	-webkit-box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, .5);
	box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, .5)
}

.container-scrollable::-webkit-scrollbar-track {
	background-color: #f0f0f0;
	-webkit-box-shadow: 0 0 1px 1px #eee, inset 0 0 7px 2px rgba(0, 0, 0, .5);
	box-shadow: 0 0 1px 1px #eee, inset 0 0 7px 2px rgba(0, 0, 0, .5)
}

.container-scrollable::-webkit-scrollbar-thumb {
	border-radius: 20px;
	width: 10px;
	background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .2)), to(rgba(0, 0, 0, .6)));
	background: linear-gradient(left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .6));
	-webkit-box-shadow: inset 0 0 1px 1px #5c6670;
	box-shadow: inset 0 0 1px 1px #5c6670
}

.screen-list {
	padding: 0 20px 30px
}

.screen-list__screen {
	margin-bottom: 35px
}

.screen-list__screen:last-child {
	margin-bottom: 0
}

.msg-answer {
	background: #cfe2fa;
	margin: 20px 0 20px auto;
	min-height: 50px
}

.msg-answer span {
	position: relative;
	z-index: 10
}

.msg-input {
	position: relative;
	z-index: 100;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 30px 10px 20px;
	background: #f0f0f0
}

.msg-input__field {
	width: 100%
}

.msg-input__field input {
	padding: 6px 10px 6px 20px;
	height: 42px;
	width: 95%;
	border-radius: 21px;
	background: #fff;
	border: 1px solid transparent;
	-webkit-transition: .3s;
	transition: .3s;
	font-size: 16px;
	-webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .5);
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, .5)
}

.msg-input__field input:focus {
	-webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .5), inset 0 0 4px 1px rgba(0, 0, 0, .5);
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, .5), inset 0 0 4px 1px rgba(0, 0, 0, .5)
}

.msg-input__field input:disabled {
	cursor: not-allowed;
	-webkit-box-shadow: none;
	box-shadow: none
}

.msg-input__field input::-webkit-input-placeholder {
	color: #999;
	font-size: 16px
}

.msg-input__field input::-moz-placeholder {
	color: #999;
	font-size: 16px
}

.msg-input__field input:-ms-input-placeholder {
	color: #999;
	font-size: 16px
}

.msg-input__field input::-ms-input-placeholder {
	color: #999;
	font-size: 16px
}

.msg-input__field input::placeholder {
	color: #999;
	font-size: 16px
}

.msg-input__btn {
	padding: 5px 10px;
	background: none;
	border: none
}

.msg-icon-smile {
	width: 30px;
	margin-right: 10px;
	cursor: pointer
}

.loader-row {
	position: fixed;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	left: 50%;
	bottom: 78px;
	z-index: 100
}

.loader {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 35px
}

.loader-inner-1 {
	-webkit-animation: loading 1s linear infinite;
	animation: loading 1s linear infinite;
	-webkit-animation-delay: 50ms;
	animation-delay: 50ms
}

.loader-inner-1, .loader-inner-2 {
	width: 10px;
	height: 10px;
	background: #333;
	border-radius: 50%;
	-webkit-transition: .5s ease;
	transition: .5s ease
}

.loader-inner-2 {
	-webkit-animation: loading 1s linear infinite;
	animation: loading 1s linear infinite;
	-webkit-animation-delay: .25s;
	animation-delay: .25s
}

.loader-inner-3 {
	width: 10px;
	height: 10px;
	background: #333;
	border-radius: 50%;
	-webkit-animation: loading 1s linear infinite;
	animation: loading 1s linear infinite;
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
	-webkit-transition: .5s ease;
	transition: .5s ease
}

@-webkit-keyframes loading {
	0%, to {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
		background: #fff
	}
	50% {
		-webkit-transform: scale(.5);
		transform: scale(.5);
		opacity: .6
	}
}

@keyframes loading {
	0%, to {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
		background: #fff
	}
	50% {
		-webkit-transform: scale(.5);
		transform: scale(.5);
		opacity: .6
	}
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
	display: block
}

blockquote, q {
	quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
	content: "";
	content: none
}

table {
	border-collapse: collapse;
	border-width: 0;
	padding: 0;
	margin: 0
}

html {
	height: 100%;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none
}

input, textarea {
	color: #333;
	outline: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-appearance: none
}

input[type=button], input[type=submit] {
	cursor: pointer;
	-webkit-appearance: none;
	outline: none
}

button, input[type=search] {
	-webkit-appearance: none
}

button {
	cursor: pointer;
	outline: none
}

form, td {
	margin: 0;
	padding: 0
}

a, i {
	color: #000100;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	text-decoration: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	display: inline-block
}

*, :after, :before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

ul {
	list-style: none
}

span {
	display: inline-block
}

img {
	max-width: 100%
}

label {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex
}

.to-left-enter-active {
	-webkit-transition: .6s ease;
	transition: .6s ease
}

.to-left-enter {
	opacity: 0;
	-webkit-transform: translateX(50%);
	transform: translateX(50%)
}

.to-left-enter-to {
	opacity: .8;
	-webkit-transform: translateX(-5%);
	transform: translateX(-5%)
}

.to-left-leave {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0)
}

.to-right {
	-webkit-animation: toright .6s .5s forwards;
	animation: toright .6s .5s forwards
}

.to-right-enter-active {
	-webkit-transition: .6s ease .4s;
	transition: .6s ease .4s
}

@-webkit-keyframes toright {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%)
	}
	80% {
		opacity: .8;
		-webkit-transform: translateX(5%);
		transform: translateX(5%)
	}
	to {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

@keyframes toright {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%)
	}
	80% {
		opacity: .8;
		-webkit-transform: translateX(5%);
		transform: translateX(5%)
	}
	to {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

.screen-appear-enter-active {
	-webkit-transition: opacity 1s;
	transition: opacity 1s
}

.screen-appear-enter {
	opacity: 0
}

.screen-appear-enter-to {
	opacity: 1
}

body, html {
	max-height: 100vh;
	height: 100%
}

body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 16px
}