.v-view {
  position: relative;
  min-height: 100vh;
  background: #f37032 url(../img/bg-decor.aed1bd0a.png) 50% / contain;
  overflow: hidden;
}
.appearance-enter-active,
.appearance-leave-active {
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.appearance-enter {
  opacity: 0;
}
.appearance-leave-to {
  opacity: 1;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-width: 0;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
input,
textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}
input[type="button"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}
button,
input[type="search"] {
  -webkit-appearance: none;
}
button {
  cursor: pointer;
  outline: none;
}
form,
td {
  margin: 0;
  padding: 0;
}
a,
i {
  color: #000100;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: inline-block;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
img,
span {
  display: inline-block;
}
img {
  max-width: 100%;
}
button {
  border: none;
  background: none;
  padding: 0;
}
:root {
  --dw: 0.05208vw;
  --dh: 0.09259vh;
  --mw: 0.27778vw;
  --mh: 0.15625vh;
  --realVh: 100vh;
}
body {
  font-size: 16px;
}
.v-roulette {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 62.65625vmax;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.v-roulette img {
  width: 100%;
}
@media (min-width: 320px) and (max-width: 768px) {
  .v-roulette {
    width: 110vw;
    top: 55px;
    left: 50% !important;
    -webkit-transform: translate(-50%, -72%);
    transform: translate(-50%, -72%);
  }
}
.v-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 280px;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  background: #ffb600;
  border-radius: 12px 0;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  color: #fff;
  font-size: 1.5625vmax;
  font-weight: 700;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.v-button:hover {
  background: #777;
}
.v-button.disabled,
.v-button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .v-button {
    max-width: 260px;
    height: 50px;
    font-size: 16px;
  }
}
.v-rules-agree {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}
.v-rules-agree.modal {
  margin-top: 27px;
}
.v-rules-agree.modal .checkbox-input:checked ~ .checkbox-label:before {
  background: url(../img/checked-modal.0e9016d0.svg) no-repeat 50%/60%, #fff3e9;
}
.v-rules-agree.modal .checkbox-label {
  margin-left: 24px;
  font-size: 14px;
  color: #7d7d7d;
  line-height: 16px;
}
.v-rules-agree.modal .checkbox-label:before {
  width: 24px;
  height: 24px;
  border-color: #f37032;
  border-radius: 4px;
  -webkit-box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.1);
}
.v-rules-agree.modal .checkbox-label .link {
  color: #7d7d7d;
}
.v-rules-agree.modal .checkbox-label .link:before {
  background: #7d7d7d;
}
.v-rules-agree.game .checkbox-input:checked ~ .checkbox-label:before {
  background: url(../img/checked-game.e7738a0e.svg) no-repeat 50%/60%, #fff3e9;
}
.v-rules-agree.game .checkbox-label {
  margin-left: 1.45833vmax;
  font-size: 1.35417vmax;
  color: #fff3e9;
  line-height: 1.5625vmax;
}
.v-rules-agree.game .checkbox-label:before {
  width: 2.60417vmax;
  height: 2.60417vmax;
  border-color: #eaaa00;
  border-radius: 6px;
}
.v-rules-agree.game .checkbox-label .link {
  color: #fff3e9;
}
.v-rules-agree.game .checkbox-label .link:before {
  background: #fff3e9;
}
.checkbox-label {
  display: block;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.checkbox-label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff3e9;
  border: 2px solid;
  cursor: pointer;
}
.link {
  position: relative;
  display: inline-block;
}
.link:before {
  position: absolute;
  content: "";
  display: block;
  bottom: -2px;
  height: 2px;
  width: 100%;
}
.animate-shake {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .v-rules-agree.modal .checkbox-label {
    font-size: 10px;
    line-height: 11px;
    margin-left: 18px;
  }
}
.v-screen-1 {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.v-screen-1 .v-roulette {
  right: -31.32813vmax;
}
.v-screen-1 .container {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 10;
  padding-top: 11.97917vmax;
  width: 60vw;
  margin: 0 auto;
}
.v-screen-1 .container,
.v-screen-1 .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.v-screen-1 .controls {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 70%;
}
.v-screen-1 .controls .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.v-screen-1 .btn-wrap {
  width: 50%;
}
.v-screen-1 .v-button {
  width: 90%;
  min-width: 230px;
}
.v-screen-1 .v-rules-agree {
  margin-top: 2.86458vmax;
}
.logo-label {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.logo {
  margin-bottom: 2.60417vmax;
}
.fade-left-enter-active,
.fade-left-leave-active,
.fade-right-enter-active,
.fade-right-leave-active {
  -webkit-transition: all 1.6s ease-in-out;
  transition: all 1.6s ease-in-out;
}
.fade-left-enter,
.fade-left-leave-to {
  opacity: 0;
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
.fade-right-enter,
.fade-right-leave-to {
  opacity: 0;
  -webkit-transform: translate(50%, -50%) rotate(45deg);
  transform: translate(50%, -50%) rotate(45deg);
}
@media (max-width: 320px) {
  .v-screen-1 .container {
    padding: 165px 20px 20px 20px;
  }
  .v-screen-1 .logo {
    margin-bottom: 50px;
  }
  .v-screen-1 .btn-wrap,
  .v-screen-1 .controls {
    width: 100%;
  }
  .v-screen-1 .btn-wrap:first-of-type {
    margin-bottom: 30px;
  }
  .v-screen-1 .v-button {
    width: 260px;
    height: 50px;
    font-size: 20px;
  }
  .v-screen-1 .v-rules-agree {
    margin-top: 27px;
  }
  .v-screen-1 .v-rules-agree .checkbox-label {
    font-size: 12px;
    line-height: 14px;
  }
  .v-screen-1 .v-rules-agree .checkbox-label:before {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 768px) {
  .v-screen-1 {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .v-screen-1 .container {
    max-width: 660px;
    width: 100%;
    padding-top: 28.64583vmax;
  }
  .v-screen-1 .controls .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .v-screen-1 .btn-wrap {
    max-width: 280px;
    width: 100%;
  }
  .v-screen-1 .btn-wrap:first-of-type {
    margin-bottom: 50px;
  }
  .v-screen-1 .v-button {
    width: 100%;
    height: 70px;
    font-size: 30px;
    padding: 0;
  }
  .v-screen-1 .v-rules-agree {
    margin-top: 3.28125vmax;
  }
  .v-screen-1 .v-rules-agree .checkbox-label {
    font-size: 26px;
    line-height: 30px;
  }
  .v-screen-1 .v-rules-agree .checkbox-label:before {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .v-screen-1 .container {
    width: 90vw;
  }
  .v-screen-1 .controls {
    width: 90%;
  }
}
