/* NORMALIZE */
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers*/
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type=button], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

input[type=search] {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

td, form {
  margin: 0;
  padding: 0;
}

a, i {
  color: #000100;
  transition: all .3s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: inline-block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

span {
  display: inline-block;
}

img {
  max-width: 100%;
}

body {
  font: 16px 'Roboto';
  line-height: 1;
}

.header-navigation, .sidebar {
  max-width: 270px;
  width: 100%;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background: #f8f8f8;
}

.wrap {
  padding: 0 365px;
}

.flex-sb, .flex-sbc {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.flex, .flex-cc {
  display: flex;
}

.flex-sbc {
  align-items: center;
}

.flex-cc {
  justify-content: center;
  align-items: center;
}

.header {
  background: #abeafa;
  padding: 24px 0 64px;
}

.header-menu {
  padding: 0 21px 0 69px;
  margin-bottom: 2.625em;
  align-items: flex-start;
}

.header__social {
  padding-top: 1.625em;
}

.header__social-list {
  margin-right: 16px;
}

.header__social-item {
  margin-right: 15px;
}

.header__social-item:last-child {
  margin-right: 0;
}

.header__social-icon {
  color: #f8f8f8;
}

.header__change-lang {
  align-self: center;
}

.header__change-lang li {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
}

.header__change-lang li:after {
  content: '';
  position: absolute;
  border: solid transparent;
  border-width: 6px 4px 0px 4px;
  border-top-color: #e9e9e9;
  top: 50%;
  right: -10px;
}

.header-navigation {
  margin-bottom: 9px;
}

.header-authorization {
  background: #f8f8f8;
}

.header-authorization a, .header-authorization div {
  color: #fb4d01;
  font: 300 0.75em "Raleway";
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  padding: 0.66667em;
  width: 50%;
  text-align: center;
}

.header-items {
  padding: 14px 25px;
  background: #fb4d01;
}

.header-items__icon {
  margin-right: 13px;
}

.header-items__cost {
  color: #ffffff;
  font: 600 1.125em "Raleway";
  margin-bottom: 5px;
}

.header-items__quantity {
  color: #faef03;
  font: 0.75em "Raleway";
}

.header-items__close {
  color: #333;
  font: 300 0.625em "Raleway";
  text-transform: uppercase;
  letter-spacing: 0.75px;
  position: relative;
  align-self: flex-end;
  cursor: pointer;
}

.header-items__close:before, .header-items__close:after {
  content: '';
  width: 17px;
  height: 1px;
  background: #faef03;
  position: absolute;
  top: -17px;
  right: 5px;
  cursor: pointer;
}

.header-items__close:before {
  transform: rotate(45deg);
}

.header-items__close:after {
  transform: rotate(-45deg);
}

.header-tab__item {
  background: #e24602;
  width: 50%;
  text-align: center;
  color: #fff;
  padding: 0.90909em;
  font: 0.6875em;
  cursor: pointer;
}

.header-tab__item.open {
  background: #ee4a02;
}

.header-search {
  position: relative;
}

.header-search input {
  padding: 0.875em;
  border: none;
  width: 100%;
}

.header-search input::placeholder {
  color: #0c0c0c;
  font: 0.625em "Raleway";
  text-transform: uppercase;
}

.header-search__btn {
  padding: 14px;
  background: #333;
  border: none;
}

.header-search__btn i {
  color: #fff;
  font: 10px;
}

.header-search__close {
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 18%;
  transform: translate(-50%, -50%);
  color: #686868;
}

.header__banner {
  max-width: 270px;
  width: 100%;
  background: #fff51f;
  color: #333;
  padding: 5.125em 1.5625em;
}

.header__banner-title {
  font: 700 1.875em "Raleway";
  text-transform: uppercase;
  margin-bottom: 0.8em;
}

.header__banner-notice {
  font: italic 700 1.125em "Raleway";
}

.header-container {
  max-width: 313px;
  width: 100%;
}

.header__slider {
  color: #fff51f;
  margin-bottom: 60px;
  position: relative;
}

.header__slider:before, .header__slider:after {
  position: absolute;
  width: 30px;
  height: 50px;
  top: 50%;
  transform: translateY(50%);
  font-family: 'FontAwesome';
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  cursor: pointer;
}

.header__slider:before {
  content: '\f104';
  right: -48px;
  background: #fff;
}

.header__slider:after {
  content: '\f105';
  right: -78px;
  background: #fbde06;
}

.header__slider-title {
  font: 700 3em "Raleway";
  line-height: 1;
  text-transform: uppercase;
}

.header__slider-notice {
  font-size: 1.125em;
}

.header__slider-btn {
  color: #000;
  font: 900 0.875em "Raleway";
  padding: 1.35714em 2.07143em;
  background: #fff51f;
}

.header__slider-list {
  position: absolute;
  left: 50%;
  display: flex;
  bottom: 0;
}

.header__slider-item {
  width: 2.5em;
  height: 0.25em;
  background: #faef03;
  margin-right: 10px;
  cursor: pointer;
}

.header__slider-item:last-child {
  margin-right: 0;
}

.header__slider-item.active {
  background: #fb4d01;
}

.sidebar__menu {
  background: #26d2fc;
  position: relative;
  margin-bottom: 30px;
}

.sidebar__menu:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 20px;
  background: #333;
  transform: translateY(-100%);
}

.sidebar__menu li {
  text-transform: uppercase;
  font-size: 0.875em;
  padding-left: 2.85714em !important;
}

.sidebar__menu-header {
  padding: 0.85714em 0 1.71429em;
  background: #333;
  color: #fff;
  font-weight: 700;
}

.sidebar__menu-item {
  padding: 1.07143em;
  font-weight: 900;
  transition: .2s;
}

.sidebar__menu-item:hover {
  background: #333;
  color: #fff;
}

.sidebar__menu-item.disable {
  color: #333;
  cursor: inherit;
}

.sidebar__menu-item.disable:hover {
  background: none;
}

.sidebar__banner {
  background: #e6e6e6;
  text-align: right;
  color: #333;
  font: 900 2.25em "Raleway";
  line-height: 1;
  font-size: 36px;
  font-style: italic;
  text-transform: uppercase;
  padding: 3.58333em 0.52778em 2.02778em;
  margin-bottom: 28px;
}

.sidebar__widget {
  background: #fff;
  padding: 2em;
  margin-bottom: 28px;
}

.sidebar__widget:last-child {
  margin-bottom: 0;
}

.sidebar__widget-list {
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.sidebar__widget-title {
  color: #000000;
  font: italic 900 1.5em "Roboto";
  margin-bottom: 0.91667em;
}

.sidebar__widget-item {
  margin: 0 8px 8px 0;
}

.sidebar__widget-link {
  font-size: 12px;
  padding: 1em 1em 0.5em 1em;
  background: #e9e9e9;
}

.sidebar__widget-link--allotted {
  font-size: 0.875em;
  padding: 0.71429em 2em 0.57143em 2.42857em;
}

.sidebar__widget-link.open {
  background: #faef03;
}

.sidebar__widget-view {
  color: #000;
  font: italic 900 0.875em "Roboto";
  position: relative;
}

.sidebar__widget-view:before, .sidebar__widget-view:after {
  content: '';
  position: absolute;
  right: -10px;
  top: 50%;
}

.sidebar__widget-view:before {
  width: 0.75em;
  height: 2px;
  background: #000;
  transform: translate(100%, -50%);
}

.sidebar__widget-view:after {
  right: -20px;
  width: 0.4375em;
  height: 0.4375em;
  border: solid;
  border-width: 2px 2px 0 0;
  transform: rotate(45deg) translateY(-70%);
}

.sidebar__articles {
  margin-bottom: 1.75em;
}

.sidebar__articles-item {
  color: #555;
  font-size: 0.875em;
  margin-bottom: 1.07143em;
}

.sidebar__articles-item:last-child {
  margin-bottom: 0;
}

.main {
  margin-bottom: 30px;
}

.main-content {
  max-width: 870px;
  width: 100%;
  background: #f8f8f8;
  position: relative;
}

.main-content:before {
  content: '';
  position: absolute;
  width: 100%;
  background: #f8f8f8;
  height: 20px;
  transform: translateY(-100%);
}

.product {
  margin-bottom: 112px;
  position: relative;
}

.product:before, .product:after {
  position: absolute;
  top: 12px;
  color: #333;
  font-size: 1.25em;
  font-family: 'FontAwesome';
  cursor: pointer;
  padding: 5px;
}

.product:before {
  content: '\f104';
  right: 52px;
}

.product:after {
  content: '\f105';
  right: 27px;
}

.product:last-child {
  margin-bottom: 0;
}

.product-header {
  color: #707070;
  font: italic 900 1.5em "Roboto";
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-left: 25px;
  padding-top: 13px;
}

.product-slider {
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.product-cart {
  width: calc(100% / 3 - 19px);
  border: 10px solid #fff;
  padding-bottom: 30px;
  background: #fff;
  margin-bottom: 30px;
}

.product-cart--new, .product-cart--hot {
  position: relative;
}

.product-cart--new:before, .product-cart--new:after, .product-cart--hot:before, .product-cart--hot:after {
  position: absolute;
  top: 0;
  font: 0.5625em "Roboto";
}

.product-cart--new:before, .product-cart--hot:before {
  content: '';
  right: 0;
  border: 32px solid transparent;
  transform: rotate(45deg) translateY(-92%);
}

.product-cart--new:after, .product-cart--hot:after {
  right: -5px;
}

.product-cart--new:before {
  border-bottom-color: #e24602;
}

.product-cart--new:after {
  content: 'NEW';
  color: #fff;
}

.product-cart--hot:before {
  border-bottom-color: #faef03;
}

.product-cart--hot:after {
  content: 'HOT';
}

.product-cart__img {
  width: 100%;
  height: 235px;
  background: #eaeaea;
}

.product-cart__notice {
  padding-top: 24px;
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  color: #333;
  font-weight: 900;
  font-style: italic;
  font-family: "Roboto";
}

.product-cart__name {
  text-transform: capitalize;
  font-size: 0.875em;
}

.product-cart__cost {
  display: flex;
  flex-direction: column;
  font-size: 1.125em;
}

.product-cart__cost--sale {
  font-size: 0.77778em;
  text-decoration: line-through;
  color: rgba(254, 0, 0, 0.6);
}

.gallery {
  background: #eaeaea;
}

.gallery__brand-row {
  padding: 4.125em 0.875em;
  background: #fff;
}

.gallery__brand-row span {
  font: 900 1.8em 'Roboto';
  color: #bababa;
  text-transform: uppercase;
  line-height: 1;
}

.gallery__instagram {
  padding-top: 3.1875em;
  text-align: center;
}

.gallery__instagram-link {
  color: #333;
  font: italic 900 1.125em "Roboto";
  margin-bottom: 26px;
}

.gallery__instagram-link i {
  font-size: 1.375em;
}

.gallery__instagram-photo {
  margin-bottom: 60px;
}

.gallery__social-item {
  width: calc(100% / 3);
  text-align: center;
  font-size: 3.025em;
  padding: 1.04762em;
}

.gallery__social-item:nth-child(1) {
  background: #3b5997;
}

.gallery__social-item:nth-child(2) {
  background: #3fccfd;
}

.gallery__social-item:nth-child(3) {
  background: #cb2027;
}

.gallery__social-item i {
  color: #fff;
}

.footer {
  background: #373737;
  padding-top: 4.6875em;
  color: #fff;
}

.footer-container {
  padding-bottom: 4em;
  padding: 0 11.5625em 4em;
}

.footer__nav-header {
  font-size: 1.125em;
  margin-bottom: 28px;
  font-weight: 900;
}

.footer__nav-item {
  margin-bottom: 8px;
}

.footer__nav-item:last-child {
  margin-bottom: 0;
}

.footer__nav-link {
  color: #fff;
  font-size: 0.75em;
}

.footer__text {
  font-size: 0.75em;
  margin-bottom: 20px;
  line-height: 15px;
}

.footer__form, .footer__about {
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer__form h3, .footer__about h3 {
  margin-bottom: 10px;
}

.footer__form-input {
  border: none;
  padding: 0.625em 1.25em;
  background: #fff51f;
  width: 100%;
}

.footer__form-input::placeholder {
  color: #333;
  font-size: 0.75em;
}

.footer__form-submit {
  background: #000;
  font-size: 0.75em;
  color: #fff;
  border: none;
  padding: 0.91667em 1.08333em 0.83333em 1.16667em;
}

.footer__form-pay {
  margin-top: auto;
}

.footer__about h3 {
  margin-bottom: 10px;
}

.footer__about span {
  font-size: 0.875em;
  margin-right: 1.125em;
}

.footer__about span:first-child {
  margin-bottom: 0.9375em;
}

.footer__about-tel {
  font-size: 0.875em;
  color: #fff;
}

.footer__about-mail {
  font-size: 0.875em;
  color: #faef03;
}

.subfooter {
  padding: 19px 165px 13px;
  background: #333;
}

.subfooter__copyright {
  color: #dad9d9;
  font-size: 0.75em;
}

.subfooter__copyright i {
  font-size: 1.33333em;
  color: #fff;
  margin-right: 5px;
}

.subfooter__social-item {
  margin-right: 15px;
}

.subfooter__social-item i {
  color: #fff;
}
