* {
	transition: .3s;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto';
	color: #fff;
}

.active {
	background: red;
}

#container {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	background: rgba(19, 35, 42, 0.8);
}

#box {
	position: relative;
	z-index: 0;
	display: flex;
	padding: 30px;
	background: rgba(63, 108, 114, 0.74);
	min-height: 260px;
	box-shadow: inset 2px -4px 15px 3px rgba(41, 123, 98, 0.88);
}

.popup {
	z-index: 10;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 35px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 100px;
	border-radius: 6px;
	box-shadow: 0 0 18px 3px rgba(0, 0, 0, .5);
	background: #fff;
	color: #333;
}

.popup span {
	cursor: pointer;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 0;
	top: 0;
	padding: 15px;
}

.popup span:before,
.popup span:after {
	content: '';
	position: absolute;
	transform-origin: center;
	display: block;
	width: 22px;
	height: 2px;
	background: #333;
}

.popup span:before {
	transform: rotate(45deg);
}

.popup span:after {
	transform: rotate(-45deg);
}

.hidden {
	visibility: hidden;
	opacity: 0;
}

.show {
	visibility: visible;
	opacity: 1;
}

.popup.show {
	visibility: visible;
	opacity: 1;
}


ul {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-grow: 1;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	align-items: flex-end;
}

li {
	position: relative;
	display: flex;
	width: 30px;
	font-family: Helvetica;
	font-size: 14px;
	margin-right: 2px;
	align-items: flex-end;
	justify-content: center;
	padding: 0 8px 5px;
	background: rgb(26, 206, 144);
	/*	background: linear-gradient(to top, #333 20%,  73%);*/
	color: #fff;
	font-weight: bold;
	box-shadow: 4px -4px 13px 3px rgba(0, 0, 0, 0.47);
}

.row-size {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

#graph-size {
	margin: 0 20px;
}

#counter {
	display: inline-block;
	font-family: sans-serif;
	text-align: center;
	padding: 10px;
	min-width: 40px;
	background: rgba(255, 255, 255, 0.71);
	box-shadow: inset 0 0 12px rgba(0, 0, 0, .3),
		0 0 5px rgba(0, 0, 0, .2);
	border-radius: 50%;
	font-weight: bold;
	color: rgba(50, 50, 50, .3);
}

.row-btn {
	margin-bottom: 20px;
}

.btn {
	cursor: pointer;
	text-transform: capitalize;
	font-family: sans-serif;
	box-shadow: -3px 3px 5px rgb(2, 2, 63, .2);
	border: none;
	color: #fff;
	padding: 10px 15px;
	outline: none;
}

.btn:active {
	transform: translate(-1px, 1px);
	box-shadow: none;
}

.btn-sort {
	background: rgba(39, 113, 47, 0.63);
}

.btn-sort.red {
	background: red;
}

.btn-generate {
	background: rgba(89, 15, 229, 0.77);
}

.btn-stop {
	background: red;
	color: #333;
	font-weight: bold;
}

.btn-reverse {
	background: rgba(113, 70, 39, 0.85);
}

.sort-speed {
	width: 50%;
}

.row-speed {
	display: flex;
	flex-direction: column;
	/*	align-items: center;*/
}

.row-speed span {
	align-self: center;
	font-family: 'Helvetica';
	font-weight: bold;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.51);
}

#speed-input {
	direction: rtl;
}
